<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'libs_mpi/style/style.css' %}">
{#    {% load static %}#}
{#    <link rel="stylesheet" href="{% static 'libs_mpi/style/style.css' %}">#}
    <!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'libs_mpi/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
   <!--===============================================================================================-->
    <link rel="shortcut icon" href="{% static 'libs_mpi/images/icons/favicon.ico' %}">
    <!--===============================================================================================-->
{#    <script language="javascript" type="text/javascript" src="../../static/libs_mpi/lib/script.js"></script>#}
    <!--===============================================================================================-->
    
    <!--===============================================================================================-->
    <title>Formulaire d'inscription</title>
</head>
<body onload="chargement();">
    <div class="limiter">
        <div class="container">
            <div class="wrap">
                
                <form action="traitement.php" method="get" class="login-form validate-form">
                   <div class="acceuil">
                        <span class="login-title">
                            Patient Registration
                        </span>
                        
                    </div>
                    <div class="img" id="img">
                        <div id="container-img1">
                            <img class="img-login" id="login-logo" src="../../static/libs_mpi/images/logo-minsante.png">
                        </div>
{#                        <input id="img1" type="file" name="image" onclick="add_image();" />#}
{#                        <input type="button" value="choisir l'image" id="button-img" onclick="img1.click()">#}

                    </div>

                    <div class="wrap-input10-long validate-input10-long">

                        <input class="input10" type="text" name="nom" id="nom" placeholder="Nom" required  maxlength="50">
                        <span class="focus-input10-long"></span>
                        <span class="symbol-input10">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input10-sexe validate-input10">
                    
                        <input class="input10-sex" type="radio" name="sexe" id="masculin" value="Masculin" onclick="change_default_img()" required />
                        <span class="input10-sexe-name">Masculin</span>
                        <span class="focus-input10-sexe"></span>
                        <span class="symbol-input10">
                            <i class="fa fa-male" aria-hidden="true"></i>
                        </span>   
                    </div>
        
                    <div class="wrap-input101 validate-input101">
                    
                        <input class="input10-sex" id="feminin" type="radio" name="sexe" value="Femme" onclick="change_default_img()" required />
                        <span class="input10-sexe-name">Feminin</span>
                        <span class="focus-input10"></span>
                        <span class="symbol-input10">
                            <i class="fa fa-female" aria-hidden="true"></i>
                        </span>   
                    </div>
                    
                
                    <div class="wrap-input10 validate-input10" data-validate = "Valid name is required :ex@hares">
                    
                        <input class="input10" type="date" name="date" id="date" required />
                        <span class="focus-input10"></span>
                        <span class="symbol-input10">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>   
                    </div>
                    
                    <div class="wrap-input101 validate-input101" data-validate = "Valid prename is required :ex@Douala">
                    
                        <input class="input10" type="text" name="lieu" 
                        id="lieu" placeholder="Lieu De Naissance" required maxlength="30"/>
                        <span class="focus-input10"></span>
                        <span class="symbol-input10">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>   
                    </div>
                   
                    <div class="wrap-input10 validate-input10" data-validate = "Valid name is required :ex@699602351">
                    
                        <input class="input10" type="pnone" name="phone" 
                        placeholder="Telephone" id="phone" required />
                        <span class="focus-input10"></span>
                        <span class="symbol-input10">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>   
                    </div>
                    
                    <div class="wrap-input101 validate-input101" data-validate = "Valid prename is required :ex@leon">
                    
                        <input class="input10" type="email" name="mail" 
                        id="mail" placeholder="Email" required maxlength="30"/>
                        <span class="focus-input10"></span>
                        <span class="symbol-input10">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>   
                    </div>
                    
                    <div class="wrap-input10-sexe validate-input10">
                    
                        <select class="input10-select" name="niveau" id="niveau" required >
                            <option class="l0" name="l0" value="Niveau" id="niv"> Niveau</option> 
                            <option class="l1" name="l1" value="Licence I"> Licence I</option>
                            <option class="l2" name="l2" value="Licence II">Licence II</option>
                            <option class="l3" name="l3" value="Licence III">Licence III</option>
                            <option class="m1" name="m1" value="master I">
                                master I</option>
                            <option class="m2" name="m2" value="Master II">
                                Master II</option>
                        
                        </select>
                        <span class="focus-input10"></span>
                        <span class="symbol-input10">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </span>   
                    </div>
                    
                    <div class="wrap-input101 validate-input101" data-validate = "Valid prename is required :ex@leon">
                    
                        <input class="input10" type="text" name="matricule" id="matricule" placeholder="Matricule" pattern="[0-9]{2}[lLsS][0-9]{5}" maxlength="8" required />
                        <span class="focus-input10"></span>
                        <span class="symbol-input10">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </span>   
                    </div>
                    
                
                    <div class="wrap-input10-long validate-input10-long">
                    
                        <select class="input10" name="filiere" id="filiere"  onchange="aff_filiere();">
                            <option class="text" id="fil">Filiere</option>
                        
                            <!---filieres ajoutes dynamiquement---->
                        
                        </select>
                        <span class="focus-input10-long"></span>
                        <span class="symbol-input10">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </span>   
                    </div>
                    
                
                    <div class="wrap-input10-long validate-input10-long">
                    
                        <select class="input10" name="option" id="option" onclick="retirer_opt()" required>
                            <option class="text" id="opt">Option</option>
                        </select>
                        <span class="focus-input10-long"></span>
                        <span class="symbol-input10">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </span>   
                    </div>
                    
                    
                    <div class="container-login100-form-btn">
						<input type="submit" value="Submit" class="login100-form-btn">
						
					</div>
					
					<div class="container-login100-form-btn-reset">
						<input type="reset" value="Reset" id="reset" class="login100-form-btn t" onclick="remove_login();effacer_full();">
						
					</div>
                   
                   
                   
    <script language="javascript" type="text/javascript">
            
    </script>
                
                </form>
                    <div class="container-login100-form-btn">
						<button id="fill_in"class="login100-form-btn" onclick="remplissage_auto();">AUTO
						</button>
					</div>
           
{#                   /*div qui contient les liens de navigations */#}
{#                    <div class="navigation-form">#}
{#                       #}
{#                        <button id="form_1_0" class="login100-form-btn form" onclick=""><a href="../TPE PHP v1.0/index.html" >Form V1.0 </a>#}
{#						</button>#}
{#                       #}
{#                        <button id="form_1_1" class="login100-form-btn form" onclick=""><a href="../TPE PHP v1.1/index.html" >Form V1.1 </a>#}
{#						</button>#}
{#                       #}
{#                        <button id="form_1_2" class="login100-form-btn form" onclick=""><a href="../TPE PHP v1.2/index.html" >Form V1.2</a>#}
{#						</button>#}
{#                        #}
{#                    </div>#}
            </div>
        
        
        </div>  
    
    
    </div>

</body>
</html>