<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}" />
    <!--===============================================================================================-->
    <!-- ===============================================================================================-->
    <!-- <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" /> -->
    <!--=============================================================================================== -->
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <!--===============================================================================================-->
</head>

<body>
    <div class="wrap">
        <form name="registerContacts" id="myform" method="POST" action="ajout.php" enctype="multipart/form-data">

            <div class="login-title" id="img">
                <div id="container-img1">
                    <img class="img-login" id="login-girl" src="{% static 'images/logo-minsante.png' %}">
                </div>

            </div>

            <div class="acceuil">
                <span class="login-title">
                     Login Form
                </span>

            </div>
            <div class="wrapper-input">
                <span class="symbol-input10">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
                <input class="input-10" type="text" name="nom" id="nom" placeholder="username">

            </div>
            <div class="wrapper-input wrap-left">
                <span class="symbol-input10">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </span>
                <input class="input-10" type="text" name="prenom" id="prenom" placeholder="password">

            </div>

            <!-- Input charge de conserver l'id a envoyer pour la requete -->
            <input class="input-10" type="hidden" name="id" id="id_val" placeholder="id">

            <!-- Insetion des lignes de modal pour la gestion des fenetres d'infos -->
            <!-- <button id="myBtn">Open Modal</button> -->

            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Some text in the Modal..</p>
                </div>

            </div>
            <!-- Fin Insetion des lignes de modal pour la gestion des fenetres d'infos -->

            <div class="btn-ligne">
                <div class="form-btn btn-elt">
                    <!-- <input id="submitForm" name="envoyer" type="submit" value="Ajouter" class=""> -->
                    <button id="submitForm" name="envoyer" type="submit" class="buttonload">
                        <i class=""></i> SE CONNECTER
                        <!-- <i class="fa fa-circle-o-notch fa-spin"></i> Ajouter -->
                    </button>

                </div>
            </div>
        </form>
    </div>


    <!--===============================================================================================-->
    {% load static %}
    <script type="text/javascript" src="{% static 'lib/jquery-3.4.1.js' %}"></script>
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script language="javascript" type="text/javascript" src="{% static 'lib/modal.js' %}"></script>
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script language="javascript" type="text/javascript" src=" {% static 'lib/script.js' %}"></script>
    <!--===============================================================================================-->
</body>

</html>