/*////////////police de mise en forme by HARES/////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

/*////////////////////////////////////////////////////////////////*/

* {
	margin: 0px; 
	padding: 0px; 
}
/*zone limite*/
.limiter {
  width: 100%;
  margin: 0 auto;
}

/*zone permettant de definir la couleur de fond du formulaire */
.container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #e6e6e6;
/*
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
*/
}

/*zone qui contient le formulaire*/
.wrap
{
    width: 500px;
    height: 1000px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 95px 30px 95px;
}

.login-form {
  width: 290px;
}

/*titre du formulaire*/

.login-title
{
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;

    width: 100%;
    display: block;
    padding-bottom: 124px;
}

.wrap-input10
{
    position: relative;
    width: 70%;
    z-index: 1;
    margin-bottom:-50px;
    
}
.wrap-input10-button
{
    position: relative;
    width: 70%;
    z-index: 1;
    margin-bottom:-50px;
    margin-top: 50px
}

.wrap-input10-long
{
    position: relative;
    width: 202%;
    z-index: 1;
    margin-bottom:12px;
}

/*input de droite*/
.wrap-input101
{
    position: relative;
    left: 270px;
    bottom:0px;
    top:15px;
    width: 70%;
    z-index: 1;
    margin-bottom: 30px;
}
.wrap-input101-sex
{
    position: relative;
    left: 270px;
    bottom:0px;
    top:15px;
    width: 70%;
    z-index: 1;
    margin-bottom: 30px;
}


.validate-input10 {
    position: relative;
}
.validate-input10-long {
    position: relative;
}

.validate-input101 {
    position: relative;
}

.input10
{
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;

    display: block;
    width: 70%;
    background: #e6e6e6;
    height: 35px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.input10-select
{
    font-family: Poppins-Medium;
    font-size: 15px;
    margin-left: 0px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 115%;
    background: #e6e6e6;
    height: 35px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

select
{
    text-align: left;
}

/*gere le positionnement de la hauteur de la zone de sexe*/
.wrap-input10-sexe
{
    position: relative;
    width: 70%;
    height: 34px;
    margin-left: 4px;
    z-index: 1;
    margin-bottom:-50px;
}

.focus-input10-sexe
{
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 115%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
  background: #e6e6e6
}

/*position du bton radio du sex*/
.input10-sex
{
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;

    display: block;
    position: relative;
    left: 130px;
    top: 8px;
    width: 70%;
    background: #e6e6e6;
    height: 14px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.input10-sexe-name
{
    font-family: Poppins-Medium;
    font-size: 15px;    
    display: inline;
    position: relative;
    left:65px;
   bottom: 10px;
}

/*animation de la zone modifiable lors d'un focus*/
.input10:focus + .focus-input10 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}


.input10:focus + .focus-input10 + .symbol-input10 {
  color: #57b846;
    
  padding-left: 28px;
    
}/*animation de la zone modifiable long lors d'un focus*/
.input10:focus + .focus-input10-long {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

.input10-select:focus + .focus-input10 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}


.input10:focus + .focus-input10-long + .symbol-input10 {
  color: #57b846;
  padding-left: 28px;
}


/*retire les bordure de la zone input ainsi que l'ombrage*/
input , select 
{
	outline: none;
	border: none;
}

/*comportement de la zone lodifiable lors du focus*/
.focus-input10
{
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 115%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
  background: #e6e6e6
}

.focus-input10-long
{
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 70%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}


.symbol-input10
{
    font-size: 15px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;   
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

/*-----------------------------------------*/

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.img
{
    /*display: inline-block;*/
    display: block;
    position:absolute;
/*    border: 2px solid;*/
/*
    border-radius: 25px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 25px;
*/
    /*right:440px;*/
    top: 30px;
    /*width: 154px;*/
    width: 500px !important;
    height: 170px;
}

input
{
    
}
/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-top: 10px;
}

.container-login100-form-btn-reset {
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
    position: relative;
    left: 190px;
    bottom: 70px;
  flex-wrap: wrap;
  justify-content: left;
  padding-top: 30px;
}
#fill_in 
{
    display: inline-block;
    border: 1px solid;
    width: 48%;
    position: relative;
    bottom:120px;
    left:380px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 80%;
  height: 40px;
  border-radius: 25px;
  background: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.login100-form-btn:hover {
  background: #57b846;
}
.t:hover
{
    background: #FF5353;
}

#container-img1
{
    display: block;
    border-radius: 50px 14px;
    /*border: 2px solid black;*/
    height: 140px;
    width: 150px;
    margin: auto;
    
}

#login-logo{
    display: inline-block;
    border-radius: 50px 14px;
    border: 2px solid black;
    height: 140px;
    width: 150px;
    margin: auto;
}

.img-login
{
    display: inline-block;
    border-radius: 50px 14px;
    height: 140px;
    width: 150px;

    
}
/*je redescend un peu car jai ajoute deux champs et jai un decalage vers le haut et je me sers des id #nom et #prenom */

#nom {
    margin-top: 25px;
}
#button-img
{
    display: flex;
    position: absolute;
    top:150px;
    width: 141px;
    height: 20px;
    padding-left: 18px;
    border-radius: 25px;
    font-family: Poppins-Bold;
    font-size: 14px;
    color: #999999;
    margin-left: 5px
}
#img1
{
    display: none;
}

/*zone de navigatio entre formulaires*/
.navigation-form {
    display: inline-block;
    position: absolute;
    top: 50px;
    left:12px;
    height: 190px;
    width: 180px;
}

.form {
    display: block;
    font-family: "Bell MT";
    font-size: 20px;
    margin: auto;
    margin-bottom:15px;
    text-transform:none;
}
a {
    text-decoration: none;
    color: aliceblue;
}


/*NEW ADD*/
